
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/ContasRecebidas.css" />
</head>
<body>
    <div>
        <h1>Lista De Contas a Pagar</h1>
    </div>
    <a href="/ContasPagar/cadastrar">Cadastrar</a>
    <form action="/ClintePessoaFisica/cadastrar" method="get">
        <label for="Campo-de-pesquisa">Pesquisa</label>
        <input type="text" id="campo-de-pequisa" name="pesquisa" />

    </form>
    <div>
        <table class="tabela">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Tipo</th>
                    <th>Descricao</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < ViewBag.ContasPagar.Count; i++)
                {
                    <tr>
                        <td>@ViewBag.ContasPagar[i].Id</td>
                        <td>@ViewBag.ContasPagar[i].Nome</td>
                        <td>@ViewBag.ContasPagar[i].Valor</td>
                        <td>@ViewBag.ContasPagar[i].Tipo</td>
                        <td>@ViewBag.ContasPagar[i].Descricao</td>
                        <td>@ViewBag.ContasPagar[i].Status</td>
                        <th>
                            <a href="/ContasPagar/editar?id=@ViewBag.ContasPagar[i].Id">Editar</a>
                            <a href="/ContasPagar/apagar?id=@ViewBag.ContasPagar[i].Id">Apagar</a>

                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>